.footer {
  background: #2A2A2A;
  margin-top: 9rem;
}

.footer__firstColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 6rem 3.6875rem;
  border-bottom: 1px solid #FFF;
  max-width: 78.125rem;
  margin: 0 auto;
}

.footer__firstColumn--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 39.625rem;
  margin-top: 1.6875rem;
}

.footer__aboutUs {
  max-height: 236px;
}

.footer__aboutUs h2 {
  text-transform: initial !important;
}

.footer__aboutUs--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__infos {
  max-height: 236px;
}

.footer__payment {
  max-height: 236px;
}

.footer__payment--cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__payment--cards img {
  margin: 0 1.5rem 1.25rem 0;
}

.footer__titles {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer__ul {
  list-style: none;
  padding: 0;
  margin: 1.5rem 0 3.875rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}

.footer__newsletter {
  background: #FFFFFF;
  border-radius: 10px;
  height: 11.5625rem;
  width: 19rem;
  padding: 2.5rem;
}

.footer__newsletter h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #3F3F40;
  margin: 0;
}

.footer__newsletter h2 strong {
  font-weight: 700;
  font-size: 21px;
}

.footer__newsletter p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  color: #3F3F40;
  margin: 0.9375rem 0 2rem auto;
  width: 18.875rem;
}

.footer__newsletter--input input {
  background: #FFFFFF;
  border: 1px solid #2A2A2A;
  border-radius: 4px;
  width: 11.25rem;
  height: 1.1875rem;
  padding: 0.8125rem 1.5625rem;
  margin-right: 0.5625rem;
  outline: none;
}

.footer__newsletter--input button {
  background: #F71963;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  height: 2.8125rem;
  width: 3.875rem;
  text-transform: uppercase;
}

.footer__secondColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 78.125rem;
  margin: 0 auto;
  padding: 1.375rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__secondColumn label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 43.2rem;
}

.footer__development {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__development img:first-child {
  margin-right: 2rem;
}
/*# sourceMappingURL=footer.css.map */